<div class="card">
  <div class="card-body">
    <!-- <p> -->
    <%#= link_to 'Delete', [comment.post, comment],
               :method => :delete,
               data: { confirm: 'Are you sure?' }
                %>
  <!-- </p> -->
  </div>
</div>
